@media (min-width:600px) {

    header{
        display: flex;
        gap: 25em;
        background-color: #BC82A1;
        border-bottom: 1px solid black;        
    }


    nav a{
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-family: 'DynaPuff', cursive;
        font-weight: bo7lder;
        font-size: 36px;   
             
     }
    .opcoes ul{
        display: flex;
    }
    
    .linhas_ou_opcoes{
        display: flex;
        flex-direction: column-reverse;
        width: 150px;
    }
    

    nav ul{
        
        display: flex;        
        align-items:flex-end;
        gap: 1.3em;
        list-style: none;
        display: none;
        margin-bottom: 25px;  
    }

    nav a{
        padding-bottom: 19px;
    }

    nav a:hover{
        border-bottom: 7px solid rgb(111, 0, 255);
    }

    .logo img{
        width:240px;
    }
   .linhas img{
        margin-top: 1.2em;
        margin-left:25vw;
        width:45px;
        display: none;
       
    }
    
    .banner
    {
        background-image: url('../imagens/thumb-1920-736068.png');
        background-size: cover;
        height: 101vh;
        display: flex;
        flex-direction: column;
        gap: 14em;
    
       
    }
    section .textos{
        margin-top: 8em;
        font-family: Crewniverse;
        letter-spacing: 1px;
        text-align: center;
        color: #4F2B53;
        align-self: center;
        width: 85vw;
        
        
    }
    .textos h1{
        font-size:8vw;
        text-shadow: 3px 3px black;
    }
    .textos p{
        margin-top: 18px;
        font-size: 4vw;
        text-shadow: 2px 1px black;
        
    }
    section{
        display: flex;
        flex-direction: column;
    }
    .historia{
        display: flex;
        flex-direction: column;
        background-image: url('../imagens/banner4.webp');
        background-size: cover;
    }
    
    
    section .historia_titulo{
        margin-top: 12px;
        font-family: Crewniverse;
        text-align: center; 
        color: #4F2B53;
        text-shadow: 3px 3px black;
        font-size: 45px;
    }
    section .linha{
        
        align-self: center;
        border-bottom: 5px solid black;
        width: 250px;
        margin-top: 10px;
        
    }
    section .historia_texto{
        margin-top: 20px;
        font-family: 'DynaPuff', cursive;
        color: black;
        font-weight: bolder;
        align-self: center;
        width: 400px;
        font-size: 20px;
        text-align: justify;
    }
    section .imagem1{
        margin-top: 30px;        
        align-self:  center;
        margin-bottom: 10px;
        display: none;
    }
    section .imagem2 img{
        width: 260px;
       
    }
    
    .imagem2{
        margin-top: 6.1em;
        align-self:  center;
    }
    .banner2{
        margin-top: 0;
        background-image: url("../imagens/banner2.webp");
        background-size: cover;
        display: flex;
        flex-direction: column;
    }
    .banner2_titulo h1{
        margin-top: 30px;
        font-family: Crewniverse;
        font-size: 32px;
        text-align: center; 
        color: #4F2B53;
        text-shadow: 3px 3px black;
    }
    .personagens{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .personagens div p{
        font-size: 2vw;
        width: 600px;
    }
    .steven{
        display: flex;
        margin-top: 40px;
        gap: 20em;
        
        
    }
    .steven img{
        margin-left: 10em;
        width: 200px;
    }
    .steven p{
        font-family: 'DynaPuff', cursive;
        
        font-weight: bolder;        
        text-align: justify;
    }
    .garnet{
        display: flex;
        gap: 3em;
        margin-top: 1em;
    }
 
    .garnet img{
        width: 200px;
        margin-left: 9em;

    }
    .garnet p{
        font-family: 'DynaPuff', cursive;
        font-size: 3vw;
        width: 53vw;
        font-weight: bolder;
      
        text-align: justify;
        margin-left: 20px;
    }
    .perola{
        display: flex;
        gap: 20em;
    }
    .perola img{
        margin-left: 10em;
        width: 150px;
    }
    .perola p{
        font-family: 'DynaPuff', cursive;
        font-size: 3vw;
        width: 53vw;
        font-weight: bolder;        
        text-align: justify;
        
    }
    .ametista{
        gap: 1em;
        display: flex;
    }
    .ametista p{
        font-family: 'DynaPuff', cursive;
        font-size: 3vw;
        width: 53vw;
        font-weight: bolder;      
        text-align: justify;
        margin-left: 20px;
               
    }
    .momentos .titulo_momentos h1{
        
        font-family: Crewniverse;
        font-size: 34px;
        margin-top: 30px;
        text-align: center;
    }
    .ametista img{
        width: 180px;
        margin-left: 10em;
    }
    section iframe{
        width:320px; 
        height:181px;
    }
    .momentos{
        background-image: url('../imagens/banner.webp');
        background-position: cover;
    }
    .momentos{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .grupo1,.grupo2,.grupo3{
        display: flex;
        gap: 1em;
        
      }
      
       
    .momentos div h1{
        font-family: Crewniverse;
        color: #4F2B53;
        font-size: 30px;
        text-shadow: 3px 3px black;
    }
    .momentos iframe{
        display: flex;
        align-self: center;
        margin-top: 10px;
      
    }
    .momentos h1{
        margin-top: 20px;
    }
    .videos{
        margin-top: 80px;
    }
    .grupo3{
        margin-bottom: 10px;
    }
    footer{
        height: 100px;
        background-image: url("../imagens/banner3.jpg");
        background-size: cover;
    }
    footer h1{
        text-align: center;
       
        font-family: 'DynaPuff', cursive;
        font-size: 2vw;
    }
    .momentos iframe{
        width: 500px;
        height: 280px;
    }
   

}
