*
{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
  html {
  scroll-behavior: smooth;
}
@media (max-width:600px) {
    *{
        overflow-x: hidden;
    }
  
    
    header{
        display: flex;
        gap: 1px;
        background-color: #BC82A1;
        border-bottom: 1px solid black;        
    }


    nav a{
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-family: 'DynaPuff', cursive;
        font-weight: bolder;
        font-size: 5vw;        
     }
    
    
    .linhas_ou_opcoes{
        display: flex;
        flex-direction: column;
        width: 158px;
    }
    

    nav ul{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        gap: 1em;
        list-style: none;
        display: none;
        margin-bottom: 10px;
        
        
        
    }
    .logo img{
        width:200px;
    }
   .linhas img{
        margin-top: 1.2em;
        margin-left:30vw;
        width:45px;
        display: flex;
    }
    .banner
    {
        background-image: url('../imagens/thumb-1920-736068.png');
        background-size: cover;
        height: 91vh;
        display: flex;
        flex-direction: column;
        gap: 14em;
    
       
    }
    section .textos{
        margin-top: 15em;
        font-family: Crewniverse;
        letter-spacing: 1px;
        text-align: center;
        color: #4F2B53;
        
        
    }
    .textos h1{
        font-size:13vw;
        text-shadow: 3px 3px black;
    }
    .textos p{
        margin-top: 18px;
        font-size: 5vw;
        text-shadow: 2px 1px black;
        
    }
    section{
        display: flex;
        flex-direction: column;
    }
    .historia{
        background-image: url('../imagens/banner4.webp');
        background-size: cover;
    }
    section .historia_titulo{
        margin-top: 12px;
        font-family: Crewniverse;
        text-align: center; 
        color: #4F2B53;
        text-shadow: 3px 3px black;
        font-size: 32px;
    }
    section .linha{
        
        align-self: center;
        border-bottom: 5px solid black;
        width: 250px;
        margin-top: 10px;
        
    }
    section .historia_texto{
        margin-top: 20px;
        font-family: 'DynaPuff', cursive;
        color: black;
        font-weight: bolder;
        align-self: center;
        width: 355px;
        font-size: 16px;
        text-align: justify;
    }
    section .imagem1{
        margin-top: 30px;        
        align-self:  center;
        margin-bottom: 10px;
    }
    section .imagem2 img{
        width: 260px;
       
    }
    
    .imagem2{
        margin-top: 6.1em;
        align-self:  center;
    }
    .banner2{
        margin-top: 0;
        background-image: url("../imagens/banner2.webp");
        background-size: cover;
    }
    .banner2_titulo h1{
        margin-top: 30px;
        font-family: Crewniverse;
        font-size: 32px;
        text-align: center; 
        color: #4F2B53;
        text-shadow: 3px 3px black;
    }
    .personagens{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .steven{
        display: flex;
        margin-top: 40px;
        width: 400px;
        gap: 20px;
    }
    .steven img{
        margin-left: 10px;
        width: 150px;
    }
    .steven p{
        font-family: 'DynaPuff', cursive;
        font-size: 3vw;
        width: 53vw;
        font-weight: bolder;
        margin-right: 30px;
        text-align: justify;
    }
    .garnet{
        display: flex;
        gap: 3em;
        margin-top: 1em;
    }
 
    .garnet img{
        width: 120px;
    }
    .garnet p{
        font-family: 'DynaPuff', cursive;
        font-size: 3vw;
        width: 53vw;
        font-weight: bolder;
      
        text-align: justify;
        margin-left: 20px;
    }
    .perola{
        display: flex;
    }
    .perola img{
        margin-left: 10px;
        width: 150px;
    }
    .perola p{
        font-family: 'DynaPuff', cursive;
        font-size: 3vw;
        width: 53vw;
        font-weight: bolder;        
        text-align: justify;
        
    }
    .ametista{
        gap: 1em;
        display: flex;
    }
    .ametista p{
        font-family: 'DynaPuff', cursive;
        font-size: 3vw;
        width: 53vw;
        font-weight: bolder;      
        text-align: justify;
        margin-left: 20px;
               
    }
    .momentos .titulo_momentos h1{
        
        font-family: Crewniverse;
        font-size: 34px;
        margin-top: 30px;
        text-align: center;
    }
    .ametista img{
        width: 180px;
    }
    section iframe{
        width:320px; 
        height:181px;
    }
    .momentos{
        background-image: url('../imagens/banner.webp');
        background-position: cover;
    }
    .momentos div{
        display: flex;
        align-self: center;
        flex-direction: column;
        gap: 2em;
        
    }
    .momentos div h1{
        font-family: Crewniverse;
         color: #4F2B53;
        font-size: 20px;
        text-shadow: 3px 3px black;
    }
    .momentos iframe{
        display: flex;
        align-self: center;
      
    }
    .momentos h1{
        margin-top: 20px;
    }
    .videos{
        margin-top: 80px;
    }
    footer{
        height: 100px;
        background-image: url("../imagens/banner3.jpg");
        background-size: cover;
    }
    footer h1{
        text-align: center;
        margin-top: 20px;
        font-family: 'DynaPuff', cursive;
        font-size: 5vw;
    }
   
}
@font-face {
    font-family: Crewniverse;
    src: url('../fontes/crewniverse_font.ttf');
}
